<nav aria-label="Page navigation" th:fragment="pagination">
	<ul class="pagination justify-content-center">
		<li class="page-item" th:class="${postsPage.first ? 'disabled' : ''}">
			<a class="page-link" th:href="@{/post/all(page=0)}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li th:each="i : ${#numbers.sequence(0, postsPage.totalPages - 1)}"
			th:class="${postsPage.number == i ? 'active' : ''}" class="page-item">
			<a class="page-link" th:href="@{/post/all(page=${i})}" th:text="${i + 1}"></a>
		</li>
		<li class="page-item" th:class="${postsPage.hasNext() ? '' : 'disabled'}">
			<a class="page-link" th:href="@{/post/all(page=${postsPage.number + 1})}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>