<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>전체게시판</h1>
	<hr>
	<div>
		<ul>
			<li><a th:href="@{/}">메인</a></li>
			<li><a th:href="@{/post/free}">자유게시판</a></li>
			<li><a th:href="@{/post/notice}">공지사항</a></li>
		</ul>
	</div>
	<hr>
	<ul>
        <li th:each="post : ${posts}">
            <a th:href="@{/post/{id}(id=${post.postId})}" th:text="${post.title}"></a>
        </li>
    </ul>
    
    <a th:href="@{/post/write}" class="btn btn-primary">글쓰기</a>
</body>
</html>