<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>전체게시판</h1>
	<hr>
	<div>
		<ul>
			<li><a th:href="@{/}">메인</a></li>
			<li><a th:href="@{/post/free}">자유게시판</a></li>
			<li><a th:href="@{/post/notice}">공지사항</a></li>
		</ul>
	</div>
	<hr>
	<div th:if="${postsPage}">
		<table border="1">
			<thead>
				<tr>
					<th>글번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>등록일</th>
					<th>조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="post : ${posts}">
					<td>
						<a th:href="@{/post/detail/{id}(id=${post.postId})}" th:text="${post.postId}"></a>
					</td>
					<td>
						<a th:href="@{/post/detail/{id}(id=${post.postId})}" th:text="${post.title}"></a>
					</td>
					<td th:text="${post.user.name}"></td>
					<td th:text="${#temporals.format(post.postRegdate, 'yyyy-MM-dd')}"></td>
					<td th:text="${post.postViews}"></td>
				</tr>
			</tbody>
		</table>

		<!-- 페이지 링크 생성 -->
		<div th:if="${postsPage.totalPages > 1}">
			<ul class="pagination">
				<li th:class="${postsPage.first ? 'disabled' : ''}">
					<a th:href="@{/post/all(page=0)}">처음</a>
				</li>
				<li th:class="${postsPage.hasPrevious() ? '' : 'disabled'}">
					<a th:href="@{/post/all(page=${postsPage.number - 1})}">이전</a>
				</li>
				<li th:each="i : ${#numbers.sequence(0, postsPage.totalPages - 1)}"
					th:class="${postsPage.number == i ? 'active' : ''}">
					<a th:href="@{/post/all(page=${i})}" th:text="${i + 1}"></a>
				</li>
				<li th:class="${postsPage.hasNext() ? '' : 'disabled'}">
					<a th:href="@{/post/all(page=${postsPage.number + 1})}">다음</a>
				</li>
				<li th:class="${postsPage.last ? 'disabled' : ''}">
					<a th:href="@{/post/all(page=${postsPage.totalPages - 1})}">끝</a>
				</li>
			</ul>
		</div>
	</div>

	<a th:href="@{/post/write}" class="btn btn-primary">글쓰기</a>
</body>

</html>