<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div class="container">
		<h1>글쓰기</h1>
		<form th:action="@{/post/write}" method="post">
			<label for="boardType">게시판 종류</label>
			<select class="form-control" id="boardId" name="boardId">
				<option value="1">자유게시판</option>
				<option value="2">공지사항</option>
			</select>
			<div class="form-group">
				<label for="title">제목</label>
				<input type="text" class="form-control" id="title" name="title" required>
			</div>
			<div class="form-group">
				<label for="content">내용</label>
				<textarea class="form-control" id="content" name="content" rows="3" required></textarea>
			</div>
			<button type="submit" class="btn btn-primary">저장하기</button>
		</form>
	</div>
</body>

</html>