<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>비밀번호 변경</title>
	<!-- Bootstrap CSS 추가 -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- 사용자 정의 CSS 파일 링크 -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<div class="container mt-5">
		<h2 class="mb-3">비밀번호 변경</h2>
		<hr>
		<form th:action="@{/user/changePw}" method="post">
			<div class="form-group">
				<label for="exPassword">현재 비밀번호 :</label>
				<input type="password" class="form-control" id="exPassword" name="exPassword" required>
			</div>
			<div class="form-group">
				<label for="newPassword">변경할 비밀번호 :</label>
				<input type="password" class="form-control" id="newPassword" name="newPassword" required>
			</div>
			<div class="form-group">
				<label for="newPasswordChk">변경할 비밀번호 확인 :</label>
				<input type="password" class="form-control" id="newPasswordChk" name="newPasswordChk" required>
			</div>
			<div class="form-group d-flex align-items-center">
				<button type="button" onclick="goBack()" class="btn btn-secondary">취소</button>
				<button type="submit" class="btn btn-primary">변경</button>
			</div>
		</form>
	</div>
	
	
	<!-- Bootstrap JS 추가 -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	<script>
		function goBack() {
			window.history.back();
		}

		$(document).ready(function () {
			// 폼 제출 시 비밀번호 일치 여부 및 유효성 확인
			$('form').submit(function (event) {
				var newPassword = $('#newPassword').val();
				var newPasswordChk = $('#newPasswordChk').val();

				// 비밀번호 유효성 검사 규칙 정의
				var passwordReg = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,16}$/;

				if (newPassword !== newPasswordChk) {
					event.preventDefault(); // 폼 제출 방지
					alert("변경할 비밀번호와 비밀번호 확인이 일치하지 않습니다.");
				} else if (!passwordReg.test(newPassword)) {
					event.preventDefault(); // 폼 제출 방지
					alert("비밀번호는 영문자, 숫자, 특수문자를 포함한 8~16자리여야 합니다.");
				}
			});
		});

	</script>
	
</body>

</html>